<h2>Superwalllll</h2>

<div id="post-form">
  <form action="/posts" method="post">
    <div>
      <textarea class="icarus" name="body"></textarea>
    </div>
    <div>
      <input class="submit" type="submit" value="Post">
    </div>
  </form>
</div>
<ol class="post-list">
  <% posts.each do |post| %>
    <li>
      <p><%= post.created_at.strftime('%A, %B %-d, %Y') %></p>
      <p><%= escape(post.body) %></p>
      <p>
        <form action="/posts/<%= post.id %>/delete" method="post">
          <input class="button" type="submit" value="Delete">
        </form>
      </p>
      <p>  
        <form action="/posts/<%= post.id%>/upvote" method="post">
          <input class="button" type="submit" value="Upwall!">
        </form>
      </p>  
      <p>
        <form action="/posts/<%= post.id%>/downvote" method="post">
          <input class="button" type="submit" value="Downwall!">
        </form>
      </p>
      <p><strong>Walls</strong>:<%= post.votes %></p>
    </li>
  <% end %>
</ol>